
/*SEARCHBOX STYLES*/

.search {
  display: block;
  text-align: center;
  margin-top: 2em;
  }

  input:focus::-webkit-input-placeholder {
    color:transparent;
  }

input {
  height: 2em;
  border-radius: 5px;
  width: 30%;
  border: 2px solid lightgrey;
  transition: .3s ease-in-out;
  padding-left: 1em;
}

input:focus {
  outline: none;
  width: 40%;
  height: 2.5em;
  font-size: 16px;
  transition: .3s ease-in-out;
  padding-left: 1em;
}


/*LIGHTBOX SLIDESHOW STYLES*/

body {
	font-family: 'Roboto', sans-serif;
}

.light img {
  padding: 1.5em;
}

ul {
  list-style: none;
}

.light {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.listbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 2em;
  margin-right: 2em;
  padding: 0;
}

/*MEDIA QUERRIES TO KEEP IMAGES IN STRAIGHT LINES REGARDLESS THE SCREEN SIZE*/

@media screen and (min-width: 768px) {

  .listbox {
    margin-left: 4em;
    margin-right: 4em;
  }
}

@media screen and (min-width: 1024px) {

  .listbox {
    margin-left: 6em;
    margin-right: 6em;
  }
}

@media screen and (min-width: 1400px) {

  .listbox {
    margin-left: 8em;
    margin-right: 8em;
  }
}
